extends layout

block content
  #app
    .row.text-center
      .col-md-3
      .col-md-6
        current-time
      .col-md-3

    .row.text-center
      h1 DS-MagicMirror
      p.lead My smart mirror project inspired by Michael Teeuw based on Node.js


    .row.text-center
      h1 Footer Area
