extends layout

block content
  #app
    .row.text-center
      .col-sm-3
        h4.fa.fa-car.mb0
          span Spritpreise
        fuel

      .col-sm-6
        current-time
      .col-sm-3

    .row.text-center
    //  h1 DS-MagicMirror
    // p.lead My smart mirror project inspired by Michael Teeuw based on Node.js


    .row.text-center.news
      .col-sm-6
        newsticker-one

      .col-sm-6
        newsticker-two
