@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $background-color;
 // overflow: hidden;

}

h1,h2,h3,h4,p, li {
  color: $brand-primary
}
.mb0 {
  margin-bottom: 0;
}
.big {
  font-size: 75px;
  margin-top: 0;
}
.progress {
  background-color: $grey;
  height: 3px;
}

.fa {
  span {
    font-family: "Lato";
    margin-left: 7px;
  }
}


#app {
  .row {
    height: 33vh;
  }

// NEWSTICKER

  .news {
    position: absolute;
    height: auto;
    bottom: 0px;
  }

  .carousel-inner {
    .item {

      .feedlogo {
        margin: 0 auto;
        height: 20px;
      }
    }
  }

  article {
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }

  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}


// FADE SLIDER
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
